- title "Account"
#account
  - form_for @user do |f|
    = f.error_messages
    
    %fieldset
      %legend Basic Details  
      %p
        = f.label :email, "Email Address"
        = f.text_field :email, :class => :text, :size=> 42
      %p.small (please ensure that this email address is correct)
  
      %p
        = f.label "Name"
        = f.text_field :first_name, :class => :text, :size => 20
        = f.text_field :surname, :class => :text, :size => 20
      %p
        = f.label :company_name, "Company"
        = f.text_field :company_name, :class => :text, :size => 42
      %p.submit
        = f.submit "Save Changes"
    
    %fieldset
      %legend Contact Details
      %p
        = f.label :phone, "Phone number"
        = f.text_field :phone, :class => :text
      %p
        = f.label "Address"
        = f.text_field :address1, :class => :text
        %br
        = f.label ""
        = f.text_field :address2, :class => :text
        %br
        = f.label "City"
        = f.text_field :city, :class => :text
        %br
        = f.label "Postcode"
        = f.text_field :postcode, :class => :text
        %br
        = f.label ""
        = f.country_select :country, "United Kingdom", :class => :text
        %p.submit
          = f.submit "Save Changes"
      
      
    %fieldset 
      %legend Change Password
      %p
        = f.label :password, "New Password"
        = f.password_field :password, :class => :text
      %p
        = f.label :password_confirmation, "Confirm Password"
        = f.password_field :password_confirmation, :class => :text
      %p.submit
        = f.submit "Save Changes"