- title "User List"
.info_box
  %p Here you can edit your users information, delete users and export their information for use with other applications.

  %p.center.big= link_to 'Export to Excel', formatted_users_url(:xls)

%table#userlist.tablesorter
  %thead
    %th Name
    %th Email
    %th Company
    %th Joined
    %th Logins
    %th City
    %th Delete
  %tbody
    - for u in @users
      %tr
        %td= name(u)
        %td= email_link(u)
        %td= h u.company_name
        %td= short_date(u.created_at)
        %td= h u.number_of_logins
        %td= h u.city
        %td= link_to image_tag("/images/bin.gif", :border=>0), u, :confirm => "Are you sure!\n\nTHIS CANNOT BE UNDONE!", :method => :delete
          
