<% title "Edit Page" %>

<% form_for @page do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :title, :class => "big" %>
  </p>
  <p>
    <%= f.label :name, "URL (for example, entering \"contact\" here would produce a url of http://rwpgroup.com/contact)" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "tinymce" %>
  </p>
  <p>
    <%= f.label :disabled %><br />
    <%= f.check_box :disabled %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


