- title "Settings"

#sitesettings
  -form_for $site do |f|
    %fieldset
      %legend Options
      = f.check_box :display_blog
      = f.label :display_blog, "Display the Blog Section to end users"
    %fieldset
      %legend End Message for RSS Feed
      .textarea_box
        = f.text_area :rss_message, :class => "tinymce_simple"
      .info_box
        %p This message will be displayed at the end of every blog post in the RSS feed.
        %p You could use it to offer your RSS subscribers deals, downloads and offers, or to advertise new products.
    %fieldset
      %legend Flash Message for new users
      .textarea_box
        = f.text_area :new_user_message,:class => "tinymce_simple"
      .info_box
        %p This message will be displayed as a "flash" message after a new user registers, and the first time they log in after that.
        %p You could use it to point them towards hot products.
    %fieldset
      %legend Special Offer Products
      .textarea_box
        =f.label :offer_product_1_id, "First Product"
        = f.collection_select :offer_product_1_id, Product.find(:all), :id, :name, :show_blank => true
        =f.label :offer_product_2_id, "Second Product"
        = f.collection_select :offer_product_2_id, Product.find(:all), :id, :name, :show_blank => true
        =f.label :offer_product_3_id, "Third Product"
        = f.collection_select :offer_product_3_id, Product.find(:all), :id, :name, :show_blank => true
      .info_box
        %p These products will be displayed in the sidebar during browsing.
    %p
      = f.submit "Save Settings"
  