- form_for @post, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.text_field :title, :class => :big
  %p
    = f.text_area :body, :class => "tinymce"
  %p
    = image_tag @post.photo.url(:thumb) if @post.photo?
    = f.file_field :photo
  %p
    = f.submit "Post to Blog"
