- title "Blog"

%p= link_to "RSS Feed", blog_url(:rss)

- unless @first_post.nil?
  .post.firstpost
    %div.date{:class => "month-#{@first_post.created_at.strftime("%m").to_i}"}
      = @first_post.created_at.strftime("%d").to_i.ordinalize
    %h3= link_to h(@first_post.title), post_path(@first_post)
    = image_tag @first_post.photo.url(:normal)
    %p= sanitize @first_post.body
    = link_to "Edit this post", edit_post_path(@first_post)
    
- for post in @posts[1..-1]
  .post
    %div.date{:class => "month-#{post.created_at.strftime("%m").to_i}"}
      = post.created_at.strftime("%d").to_i.ordinalize
      
    %h3= link_to h(post.title), post_path(post)
    = image_tag post.photo.url(:normal)
    %p= sanitize post.body
    = link_to "Edit", edit_post_path(post) if logged_in_as_admin?
    
- if logged_in_as_admin?
  %p
    = link_to "New Post", new_post_path
