- title "Blog - new post"

- form_for @post, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.text_field :title, :class => :title
  %p
    = f.file_field :photo
  %p
    = f.text_area :body, :class => "tinymce"
  %p
    = f.submit "Post to Blog!"

