- title @post.title
.post
  %div.date{:class => "month-#{@post.created_at.strftime("%m").to_i}"}
    = @post.created_at.strftime("%d").to_i.ordinalize

  = image_tag @post.photo.url(:normal)
  %p= sanitize @post.body
  %p.small= link_to "Edit", edit_post_path(@post) if logged_in_as_admin?