- title "Products"
- content_for(:admin_links) do
  %li= link_to "New Category", new_category_path
  %li= link_to "New Product", new_product_path
  
- if @categories.empty?
  %h2= link_to "Create your first category", new_category_path
- else
  - for category in @categories
    .category
      %h2= link_to h(category.name), category
      -if logged_in_as_admin?
        .small
          = link_to "Change Name", edit_category_path(category)
          = link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete

      -for product in category.products_for_home
        .product_box
          %p= link_to h(product.name), product
          %p= link_to image_tag(product.photo.url(:thumb)), product
      .clear