- title @category.name
- if logged_in_as_admin?
  = (link_to "Add Category", new_category_path) 
  = (link_to "Add Product", new_product_path)
  = link_to "Change Category Name", edit_category_path(@category)
  = link_to "Destroy Category", @category, :confirm => 'Are you sure?', :method => :delete

%p This will show the products in a category

-for product in @category.products
  - if !product.disabled || logged_in_as_admin?
    .product_box
      %p= link_to h(product.name), product
      %p= link_to image_tag(product.photo.url(:thumb)), product

.clear