- title @category.name

- content_for(:admin_links) do
  %li= link_to "New Category", new_category_path
  %li= link_to "New Product", new_product_path
  %li= link_to "Edit Category", edit_category_path(@category)
  %li= link_to "Destroy Category", @category, :confirm => 'Are you sure?', :method => :delete

-for product in @category.products
  - if !product.disabled || logged_in_as_admin?
    .product_box
      %p= link_to h(product.name), product
      %p= link_to image_tag(product.photo.url(:thumb)), product

.clear