- form_for @product, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.collection_select :category_id, Category.find(:all), :id, :name, :prompt => "Choose a category..."
  %p
    = f.label :description, "Product Description"
    %br
    = f.text_area :description
  %p
    = image_tag @product.photo.url(:thumb) if @product.photo?
    = f.file_field :photo
  %p
    = f.label :disabled, "Hide this product from end users?"
    = f.check_box :disabled
    
    = f.submit "Save"