- title "Products"

#editproductpage
  - form_for @product, :html => { :multipart => true } do |f|
    = f.error_messages

    = f.label :name
    = f.text_field :name, :class => :title
    %br
    = f.label :disabled, "Hide this product from end users?", :class => "show-label"
    = f.check_box :disabled
    %br
    =f.label :category_id, "Choose a category", :class => "show-label"
    = f.collection_select :category_id, Category.find(:all), :id, :name, :prompt => "Choose a category..."
    = f.label :description, "Product Description"
    = f.text_area :description, :class => "tinymce"
    %fieldset.photo-edit
      %legend= "Photo of #{@product.name}"
      = image_tag @product.photo.url(:thumb) if @product.photo?
      = f.file_field :photo
      
    = f.submit "Save Changes"