- title "Products"
#productpage
  -if logged_in_as_admin?
    %p.edit
      = link_to "Edit Product", edit_product_path(@product)
      = link_to "Destroy", @product, :confirm => 'Are you sure?', :method => :delete
  #product-photo
    = image_tag @product.photo.url(:normal)
  %h2= @product.name
  %p.description
    = sanitize @product.description
  %p
    - form_for :product, :url => { :action => :add_to_cart } do |f|
      = f.collection_select :offer_price, @product.price_options.find(:all), :id, :price_and_name
      = f.hidden_field :id
      = submit_bit f, "Add to Cart"
  
  /
    - form_tag "add_to_cart/#{@product.id}", :action => :add_to_cart do
      -# hidden_field_tag(:price, @product.offer_price ||= 500)
      = select :price, @product.price_options.find(:all), :prompt => "Select a Collection..."
      = submit_tag "Add to Cart"