!!! Strict
%html
  %head
    %title
      = h(yield(:title) || "Untitled")

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'partials/_base.css'
    = stylesheet_link_tag 'print.css', :media => 'print'
    
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
    %script{:type => "text/javascript"}
      google.load("jquery", "1.3")
      google.load("jquery-ui", "1.5.3")
    
    = javascript_include_tag "tiny_mce/jquery.tinymce"
    = javascript_include_tag "jquery.tablesorter.min"
    = javascript_include_tag "ui.watermark.js"
    
    = javascript_include_tag "application"
    
    = yield(:head)
    
  %body
    #wrapper
      #header
        
        - if show_title?
          %h1
            = h(yield(:title))
            
        %ul#navlinks
        
          -# Standard Links
          %li= link_to "Home", :root
          %li= link_to "Products", :products
          %li= link_to "Cart", :cart unless logged_in_as_admin?
          %li= link_to "Blog", :blog if $site.display_blog?
          %li= link_to "Ethos", :ethos
        
          -# Pages Links
          - $site.active_pages.each do |page|
            %li= link_to page.name.capitalize, page.name
          
          -# Account Managment Links  
          - if logged_in?
            %li= link_to "Orders", :orders
            %li= link_to "Logout", :logout
            %li= link_to "Account", :account
          -else
            %li= link_to "Log In", :login
            

        - if logged_in_as_admin?
          %ul#adminlinks
            %li= link_to "Users", :users
            %li= link_to "Edit CSS"
            %li= link_to "Site Settings", :settings
          
          -if $site.inactive_pages.size > 0
            %span Inactive Pages:
            %ul#inactivepages
              - $site.inactive_pages.each do |page|
                = link_to page.name.capitalize, page.name
          
      #container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        #content
          = yield
      #sidebar
      
        #login_box
          - form_tag sessions_path do
            = text_field_tag :login, params[:login], :title => "email"
            = password_field_tag :password
            = submit_tag "Log in"
          = link_to "Sign up!", signup_path, :class => :small


      /.clear
      #footer
        %p.small
          &copy; Copyright #{Time.now.year} RWP Group. All Rights Reserved
          |
          Registered in Englad & Wales No. 03793616
          |
          VAT No. 619 5985 83
          |
          =link_to "Privacy Policy", :controller => :welcome, :action => :privacy
          |
          =link_to "Contact"
